body {
	-webkit-text-size-adjust: 100%;
	font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
}

#container,
#front,
#back {
	width: 1366px;
	height: 768px;
}

#container {
	position: relative;
	margin: auto;

	perspective: 1000px;
}

#front,
#back {
	position: absolute;
	backface-visibility: hidden;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center center;

	transition: 2.0s;
	transform-style: preserve-3d;
}
#front {
	z-index: 2;
	transform: rotateY(0);
	background-image: url(../../images/front.png);
}
.flip #front {
	transform: rotateY(180deg);
}

#back {
	transform: rotateY(-180deg);
	background-image: url(../../images/back.png);
}
.flip #back {
	transform: rotateY(0);
}

.num, .text {
	color: #ff3c00;
	width: 950px;
	position: relative;
	left: 320px;
}

.num {
	font-size: 140px;
	top: 20px;
}

.text {
	font-size: 40px;
	top: 50px;
}