body {
	-webkit-text-size-adjust: 100%;
	font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
}
footer {
	text-align: center;
	color: #999;
}
footer a {
	color: #666;
}

#container,
#front,
#back {
	width: 960px;
	height: 540px;
}

#container {
	position: relative;
	margin: auto;

	perspective: 1000px;
}

#front,
#back {
	position: absolute;
	backface-visibility: hidden;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center center;

	transition: 2.0s;
	transform-style: preserve-3d;
}
#front {
	z-index: 2;
	transform: rotateY(0);
	background-image: url(../../images/front.png);
}
.flip #front {
	transform: rotateY(180deg);
}

#back {
	transform: rotateY(-180deg);
	background-image: url(../../images/back.png);
}
.flip #back {
	transform: rotateY(0);
}

.result {
	color: #ff3c00;
	position: relative;
	width: 700px;
	left: 230px;
}
.result h1 {
	font-size: 80px;
	line-height: 80px;
	vertical-align: bottom;
}
.result p {
	font-size: 40px;
}
