<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>大吉おみくじ</title>
  <meta name="description" content="大吉しか出ないおみくじです。">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="assets/css/dest/main.css">
  <script src="assets/libs/angular/angular.js"></script>
</head>
<body ng-app="daikichiApp">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46787264-1', 'energize.io');
  ga('send', 'pageview');
</script>

<div id="container" ng-controller="DrawCtrl" ng-show="result" ng-class="{flip:isFliped}">
  <div id="front" ng-click="isFliped=true"></div>
  <div id="back" ng-click="isFliped=false">
    <div class="result">
      <h1>第{{ result.num }}番</h1>
      <p>{{ result.text }}</p>
    </div>
  </div>
</div>

<footer>
  &copy; <a href="https://www.facebook.com/ch1cala">Chikara Onodera</a>,
  designed by <a href="http://dendesign.jp/">Den Design</a>,
  powered by <a href="https://www.facebook.com/EnergizeKK">Energize K.K.</a>
</footer>
<script src="assets/main.js"></script>
</body>
</html>