body {
	-webkit-text-size-adjust: 100%;
	font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	color: #999;
}
footer {
	text-align: center;
}
a {
	color: #966;
	text-decoration: none;
}

#container,
#front,
#back {
	width: 960px;
	height: 540px;
}

#container {
	position: relative;
	margin: auto;

	-webkit-perspective: 1000px;

	-ms-perspective: 1000px;

	perspective: 1000px;
}

#front,
#back {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-transition: 2.0s;

	transition: 2.0s;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#front {
	z-index: 2;
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
	background-image: url(../../images/front.png);
}
.flip #front {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#back {
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	background-image: url(../../images/back.png);
}
.flip #back {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	transform: rotateY(0);
}

.open {
	position: absolute;
	top: 200px;
	left: 500px;
}

.result {
	color: #ff3c00;
	position: relative;
	width: 700px;
	left: 230px;
}
.result h1 {
	font-size: 80px;
	line-height: 80px;
	vertical-align: bottom;
}
.result p {
	font-size: 40px;
}

.share {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}
